.vscode
.env
venv
venv/*
media/*
__ pycache __
__pycache__
__pycache__/
*.py[cod]
.DS_Store
*.pyc
.idea

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover

# Django stuff:
*.log

# Environments
.venv
env/
venv/
